@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	transform-style: preserve-3d;
	font-size: 10px;
}


/*MENU*/
.menu-one{
	transform-style: preserve-3d;
	z-index: -1;
}
.menu{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top:100px;
	transform: translateZ(10px) ;
}
.menu-images{
		padding: 20px ;
}
.menu-images img{
	width: 180px;
	height: 190px;
	
}
.now{
	margin-top: 30px;
	margin-left: 600px;
	padding: 20px;
	background-color: darkred;
	font-size: 15px;
	color: white;
	width: 150px;
}
/*ment-template*/


.menu-template{
	margin-top: 50px;
	background: url(..//images/food2.jpg);
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	height: auto;
	background-size: cover;
}
.right-pane{
	background-color: #fff;
	width: 50%;
	height: auto;
	position: relative;
	text-align: center;
	text-transform: capitalize;
	left: 672px;
}
.right-pane p{
	line-height: 0.8;
	padding-top: 15px;
}
.menu-template h1{
	font-size: 5.5rem;
	font-weight: 500;
	padding-top: 40px;
	letter-spacing: 3px;

}
.menu-template h3{
		color: darkred;

}
.menu-template h4{
		color: darkred;
		padding-top: 20px;
}

.template-button{
	margin-bottom: 20px;
	margin-top: 20px;
	width: 160px;
	padding: 15px;
	background-color: darkred;
	color: #fff;
	border: none;
	display: inline-block;

}

.left-pane a{
	color: darkred;
	text-decoration: underline;
	padding: 10px;
}
.left-pane{
	background-color: #fff;
	width: 50%;
	height: auto;
	text-align: center;
	text-transform: capitalize;
	}
/*	reviews*/
.reviews{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;

}
.card{
	background-color: #fff;
	width: 35%;
	height: auto;
	margin-top: 30px;
	margin-left: 40px;
	text-align: center;
	padding-top: 100px;
}
.card h1{
	color: darkred;
}
.card p{
	width: 400px;
	height: 300px;
	text-align: center;
}
.blue{
	margin-left: 160px;
	width:100px;
	height: 100px;
	border: 1px solid black;
	padding-top: 10px;
	border-radius: 50%;
}
.blue a{
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	color: black;
}
.three{
		text-align: center;
}
.connect-image{
	width: 100%;
	height: 70vh;
	background-size: cover;
	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(..//images/pe.jpg);
	color: white;
	
	font-size: 25px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat:no-repeat;
	background-position: center;
}
.connect-image h1{
	
	padding-top: 200px;
}
.connect-image ion-icon {
	padding: 20px;
	color: #fff;
	display: flex;
	
}
.electric-section{
	background-color: black;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(..//images/out.jpg) ;
	width: 100%;
	height: 90vh;
	color: white;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

}

.electric h2{
		padding-top: 170px;
}


.grid-container video{
	margin-top: 30px;
	width: 250px;
	height: 300px;
	background-color: lightgrey;
}

.cont{
	/*width: 100%;
	height: 100%;*/
	top:0;
	left: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
	transition: 0.6s;
}

.grid-container video:hover{
	opacity: 1;
}
.extra{
	display: flex;

	margin-left: 300px;
}
.extra li{
	list-style: none;
	padding:40px ;
	font-size: 15px;
}
.extra li a{
	color: white;
	text-decoration: none;
}
.extra li a:hover{
	color:gray;
	
}
footer{
	background-color:rgb(196, 27, 27);
	padding-top: 30px;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
footer h1{
	font-size: 19px;
}

@media(max-width:1028px){
	body{
		overflow-x: hidden;
	}

	.menu{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 0px;
	}

	#parent{
		height: 70vh;
	}

	.menu-images img{
		width: 270px;
		height: auto;
	}

	.menu-template{
		
		min-height: auto;
	}

	.right-pane{
		left:0px;
		width: 80%;
	}

	.left-pane{
		width: 80%;
		margin-top: 30px;
	}

	.menu-template h1{
		font-size: 2rem;
	}

	
	.reviews{
		flex-direction: column;

	}

	



.card p{
	max-width:350px;
	padding: 20px;
	
}

	.blue{

		margin-left: 100px;
		
	}

	.grid-container video{
		width:100%;
		justify-content: center;
		align-items: center;
		margin-left: 0px;
	}

	

.extra li{
	list-style: none;
	padding:10px ;
	font-size: 10px;
}

	.card h1{
		font-size: 20px;
		padding: 10px;
	}

	.card{
	width: auto;
	height: 300px;
	margin-top: 30px;
	margin-left: 0px;
	padding-top: 50px;
	
}
.connect-image{
	height: auto;
	
	
}
.reviews{
	padding-left: 20px;
	padding-right: 25px; 
}
.address{
	font-size: 13px;
}

}

@media(max-width:999px){
	.now{
		margin-left: 250px;
	}
	.menu {
		flex-wrap: nowrap;
    }
	.extra {
        margin-left:150px;
    }
	.menu-images img{
		width: 400px;
		height: auto;
	}
	.extra li a {
	
		display:flex;
		justify-content:center;
		align-items: center;
	}
	.electric{
		padding-top: 200px;

	}
	.electric h2{
		font-size: 2.5rem;
	}
	
}

@media(max-width:500px){
	.now{
	
		margin-left:100px;
			
	}
	.menu{
		padding-left: 75px;
		padding-right: 70px;
	}
	.extra {
        margin-left:30px;
    }
	.menu-images img{
		width: 270px;
		height: auto;
	}

}